# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

node_modules
.vuepress/dist
.temp
bun.lockb
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
